[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
scipy = "*"
pandas = "*"
scikit-learn = "*"

[dev-packages]
isort = "*"
flake8 = "*"
black = "*"
pre-commit = "*"

[requires]
python_version = "3.10"
python_full_version = "3.10.9"
